<script type="text/javascript">
    RED.nodes.registerType('find-assets',
    {
        category: 'sense iot maximo',
        color: '#b27fb2',
        defaults: 
        {
            name: {value:""},
            maximo: {value:"", type:"maximo-config", required:true},
            objectStructureType: {value:"", required:true}
        },
        inputs:1,
        outputs:1,
        icon: "sense.png",
        label: function() 
        {
            this.name = this.name.length > 0? this.name : (objectStructureType != null? "Find `" + objectStructureType + "`" : "Find Assets");
            return this.name; 
        }
    });
</script>

<script type="text/html" data-template-name="find-assets">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-maximo"><i class="icon-tag"></i> Value</label>
        <input type="text" id="node-input-maximo" placeholder="value">
    </div>
    
    <div class="form-row">
        <label for="node-input-objectStructureType"><i class="icon-tag"></i> Object Structure</label>
        <input type="text" id="node-input-objectStructureType" placeholder="value">
    </div>

    <div class="form-row">
        Insert a JSON Object with filter parameters to search.
    </div>
</script>

<script type="text/html" data-help-name="find-assets">
    <p>Insert an JSON Object with filter parameters into the node input to retrieve the details of matching assets in a given Object Structure.</p>
</script>