<script type="text/javascript">
    RED.nodes.registerType('maximo-config',{
        category: 'config',
        defaults: {
            name: {value: "Maximo"},
            host: {value:"localhost",required:true},
            apiKey: {value:"secret",required:true},
        },
        label: function() {
            return this.name || this.host;
        }
    });
</script>

<script type="text/html" data-template-name="maximo-config">
    <div class="form-row">
        <label for="node-config-input-name"><i class="icon-bookmark"></i> Name</label>
        <input type="text" id="node-config-input-name" placeholder="Maximo"/>
    </div>
    <div class="form-row">
        <label for="node-config-input-host"><i class="icon-bookmark"></i> Host</label>
        <input type="text" id="node-config-input-host" placeholder="https://website.com/"/>
    </div>
    <div class="form-row">
        <label for="node-config-input-apiKey"><i class="icon-bookmark"></i> API Key</label>
        <input type="password" id="node-config-input-apiKey" placeholder="secret"/>
    </div>
</script>