<script type="text/javascript">
    RED.nodes.registerType('get-asset',
    {
        category: 'sense iot maximo',
        color: '#b27fb2',
        defaults: 
        {
            name: {value:""},
            maximo: {value:"", type:"maximo-config", required:true},
            objectStructureType: {value:"", required:true}
        },
        inputs:1,
        outputs:1,
        icon: "sense.png",
        label: function() 
        {
            this.name = this.name.length > 0? this.name : (objectStructureType != null? "Get `" + objectStructureType + "` Details" : "Get Asset Details");
            return this.name; 
        }
    });
</script>

<script type="text/html" data-template-name="get-asset">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-maximo"><i class="icon-tag"></i> Value</label>
        <input type="text" id="node-input-maximo" placeholder="value">
    </div>
    
    <div class="form-row">
        <label for="node-input-objectStructureType"><i class="icon-tag"></i> Object Structure</label>
        <input type="text" id="node-input-objectStructureType" placeholder="value">
    </div>

    <div class="form-row">
        Insert a string into the node input containing an AssetNum to search for one asset.
    </div>
</script>

<script type="text/html" data-help-name="get-asset">
    <p>Insert an Asset Num to retrieve the details of a specific asset in a given Object Structure.</p>
</script>